<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <h4>What We Do</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel provident eaque delectus consequatur dolore. 
        <br><br>
        Labore, repellat! Omnis, velit possimus 
        doloremque voluptatum perspiciatis vel recusandae 
        adipisci inventore commodi, amet eaque molestias.</p>
        <button class="btn btn-primary">Call to Action</button>
    </div>
    <div class="col-4">
      <h4>Contact Us</h4>
      <h6>Start Bootstrap</h6>
      <p>3481 Melrose Place Beverly Hills, CA 90210
        <br><br>
        P: (123) 456-789 <br>
        E:name@example.com
      </p>
    </div>
  </div>
</div>